body{
    font-family: Arial, Helvetica, SansSerif, serif;
    font-size: 18px;
    background-color:#bbbbbb;
}

#main{
    border: solid 1px;
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
padding: 2%;
    margin-top: 20px;
}
#side{
    padding-top: 10%;
    padding-left: 5px;
    flex: 1;

    color: white;
}
.form h1{
    align-items: center;
}

.wrapper{
width: 50vw;
    height:90vh;
    border-radius: 80px 0 0 80px ;
    background: white;
    flex: 3;
padding-left: 15%;

}
.modalForm{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.actionBtns{
width: 50%;
    background-color: #27ae60;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius:50px ;
}
.actionBtn{
    padding: 1em;
    width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius:50px ;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}
.moveBtn{
    position: absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: white;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: rgba(0,0, 0, 0.1) 0 4px 12px;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}
.rightBtn{
    transform: translateX(98%);
    transition: all 0.2s ease-in-out;
}
input{
    padding: 10px;
    background-color: transparent;
}
.submitBtn{
    width: 150px;
    padding: 1em;
    margin: 2em 4em;
    border-radius: 50px;
    border: 0;
    outline: none;
    background-color: #27ae60;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.submitBtn:hover{
    background-color: darkslategrey;
    color: white;
    transition: all 0.3s ease-in-out;
}
.form{
    display: none;
}
.signupForm{
    display: block;
}
.loginForm{
    display: block;
}
table{
    border-spacing: 20px;

}
select{
    width: 15em;
    height: 3em;
    border: solid 2px;
}
.userForm{
   padding-left: 25%;
    margin: 0;
    padding-bottom: 50px;
}
h1{
    text-align: center;
}